<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pers.guofucheng.mapper.UserMapper">

    <!--id ="接口中的方法名"
    　　parameterType="传入的参数类型"
    　　resultType = "返回实体类对象，使用包.类名"-->

    <select id="findByUid" parameterType="int" resultType="com.pers.guofucheng.pojo.User">
        select * from users where uid = #{id}
    </select>
</mapper>